.main-section{
  font-size: 1.2em;
  form{
    margin-top: 2em;
    display: flex;
    justify-content: space-evenly;
    font-family: $font-base;
    input,select{
      font-size: 1em;
      padding: 0.4em 1em;
      &:focus{
        outline: none;
      }
    }
  }
  table{
    margin-top: 2em;
    th{
      font-weight: bolder;
    }
    td, th{
      border: 1px solid $color-border-base;
      padding: 1em;
      text-align: center;
      vertical-align: middle;
    }
    td{
      ul{
        li{
          padding: 0.2em;
        }
      }
    }
  }
}